.content {
  display: flex;
}
.letter {
  margin-right: 25px;
  margin-bottom: 15px;
  background-color: rgb(221 221 221);
  font-size: 3rem;
  font-weight: 900;
  padding: 5px;
  width: 150px;
  text-align: center;
}
.paragraph {
  width: 80%;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgb(221 221 221);
  font-size: 1rem;
  font-weight: 900;
  padding: 5px;
  position: relative;
}
.paragraph::after {
  content: "";
  width: 10px;
  height: 100%;
  background-color: rgb(12 135 183);
  position: absolute;
  right: -13px;
  top: -1px;
}
.paragraph::before {
  content: "";
  width: 0;
  height: 0;
  left: -23px;
  bottom: 20px;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgb(12 135 183) transparent transparent;
}

@media (max-width: 600px) {
  .content {
    display: block;
    text-align: center;
    width: 100%;
  }
  .letter {
    color: white;
    background-color: #005067;
    width: 83%;
  }
  ::before {
    display: none;
  }
}
